<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG ERROR</title>
    <meta name="description" content="Final Project Website">
    <meta name="author" content="Jeffrey Pearson">
    <meta name="keywords" content="Homework, USU, Data Analytics and Information Systems">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="main.css">

    <link rel="shortcut icon" href="graph.png">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1X9R2S74DH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1X9R2S74DH');
    </script>
</head>

<body>

    <p>Yeah, somehting went wrong, you should be here.</p>
</body>

</html>